$primary-color: #333;
$border-color: #ccc;
*{
    margin: auto;
    background-image: url(book.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.main-header {
    text-align: center;
    color: red;

    p{
        color: darkblue;
    }

    p2{
        color: purple;
    }
}


.book {
    border: 1px solid $border-color;
    width: 575px;
    height: 150px;
    padding: 10px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;

    .book-info {
        display: flex;
        align-items: center;

        img {
            width: auto;
            height: 150px; 
            margin-right: 20px;
        }

        .title-info {
            flex: 1;

            h2 {
                margin-top: 0;
                margin-bottom: 5px;

                a {
                    color: blue;
                    text-decoration: none;
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}

footer {
    margin-top: 20px;
}
